language: android
dist: trusty
env:
  global:
    - ANDROID_TARGET=android-21
    - ANDROID_ABI=armeabi-v7a
    - ANDROID_BUILD_TOOLS_VERSION=28.0.3
android:
  components:
    # The BuildTools version used by your project
    - build-tools-$ANDROID_BUILD_TOOLS_VERSION
    - build-tools-$ANDROID_TARGET

    # The SDK version used to compile your project
    - android-28
    - $ANDROID_TARGET

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}
  licenses:
    - android-sdk-preview-license-.+
    - android-sdk-license-.+
    - google-gdk-license-.+

before_install:
 - chmod +x gradlew
 - yes | sdkmanager "platforms;android-28"

script:
 - ./gradlew ktlint || travis_terminate 1
 - ./gradlew test || travis_terminate 1
# - ./gradlew build assembleAndroidTest || travis_terminate 1
# - echo no | android create avd --force --name test --target $ANDROID_TARGET --abi $ANDROID_ABI -s WXGA800
# - emulator -avd test -no-skin -no-audio -no-window &
# - android-wait-for-emulator
# - adb shell settings put global window_animation_scale 0
# - adb shell settings put global transition_animation_scale 0
# - adb shell settings put global animator_duration_scale 0
# - adb shell input keyevent 82 &
# - adb shell setprop dalvik.vm.dexopt-flags v=n,o=v
# - ./gradlew connectedCheck || travis_terminate 1

before_cache:
 - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
 - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache