<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="be.hogent.faith">
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name=".faith.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".faith.cinema.CinemaActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity
            android:name=".faith.backpackScreen.BackpackScreenActivity"
            android:label="@string/title_backpack"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.hogent.faith.faith.cinema.CinemaActivity" />
        </activity>
        <activity
            android:name=".faith.library.LibraryActivity"
            android:label="@string/title_event_detail"
            android:parentActivityName=".faith.library.LibraryActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="be.hogent.faith.faith.library.LibraryActivity" />
        </activity>
        <activity
            android:name=".faith.loginOrRegister.LoginOrRegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".faith.cityScreen.CityScreenActivity"
            android:label="@string/lbl_activity_city"
            android:screenOrientation="landscape" />
        <activity
            android:name=".faith.emotionCapture.EmotionCaptureMainActivity"
            android:label="@string/lbl_activity_emotionCapture"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".faith.skyscraper.SkyscraperActivity"
            android:label="@string/lbl_activity_skyscraper"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>