<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="be.hogent.faith">

    <application
            android:name=".faith.App"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
                android:screenOrientation="landscape"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
                android:label="@string/app_name"
                android:name=".faith.ui.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
